:root {
    --color-primary: #fb2576;
    --color-secondary: #150050;
    --color-tertiary: #3f0071;
    --color-quaternary: #8e00ff;
    --color-text-1: #fff;
    --color-text-2: #aaa;
    --color-bg-1: #000;
    --color-error: #ff7c7c;
    --color-success: #66ffa3;
    --font-family: "PT Sans", sans-serif;

    --padding-app: 4rem;
}
