:root {
    --color-primary: #000;
    --color-secondary: #fff;
    --color-tertiary: #F8F4E5;
    --color-text-1: #000;
    --color-text-2: #fff;
    --color-bg-1: var(--color-tertiary);
    --color-bg-2: #fff;
    --color-bg-3: #000;
    --font-family: 'Josefin Sans', sans-serif;
}